@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    font-family: 'Noto Serif', serif;
}
main{
    margin: 20px;
    padding: 10px;
}
.h-divider{
    height: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}
.nav-item{
    color: white;
}
.navbar-brand{
    color: white;
}
h2{
    color: white;
}
label{
    color: white;
}
.h-divider{
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: white;
}
img{
    height: 325px;
    width: 325px;
    margin-right: 10px;
    margin-left: -10px;
    border-radius: 33%;
}